body {
  font-family:Arial,  sans-serif;
  background-color: aliceblue;
  margin:0;
  padding:0;
}

header {
  background: rgb(170, 40, 40);
  color:aliceblue;
  padding:25px;
  text-align: center;
}

header h1 a{
color:antiquewhite;
padding:15px;
text-align:center;
text-decoration:none;
}

 h2 {
  color:rgb(10, 7, 7);
padding:15px;
text-align:center;
}

nav ul {
  list-style:none;
  background: rgb(223, 151, 116);
  padding:0;
  margin:0;
}

nav ul li{
  display: inline-block;
  margin-right:8px;
}

nav ul li a {
  color:antiquewhite;
  padding:10px;
  display:inline-block;
  text-decoration:none;
}

nav ul li a:hover{
  background: pink;

}



#content{
  width:78%;
  background:antiquewhite;
  margin:20px auto;
  padding:10px;
  border-radius:4px;
}

.rovers-list{
  width:80%;
  margin:auto;
}

.rover{
  background:rgb(244, 199, 207);
  padding:10px;
  margin-bottom:20px;
  border:1px solid white;

}



.rover img{
  width:300px;
  display:block;
  margin-bottom:10px;

}



.contact-form{
  width:70%;
  margin:auto;
}


.contact-form input, .contact-form textarea{
  width:100%;
  padding:8px;
  margin-top:5px;
  border:1px solid pink;
  
}

.contact-form button{
  background: red;
  color:antiquewhite;
  padding:10px;
  border:none;
  margin-top:10px;
}

footer{
  background: rgb(168, 98, 95);
  color:aliceblue;
  text-align:center;
  padding:60px;
  margin-top:60px;
}

footer a {
  color:rgb(70, 16, 16);
}